$primary-green: rgb(129, 211, 108);
$dark-green: darken($primary-green, 20%);

@mixin leaf-style {
    background-color: $primary-green;
    border-radius: 55%;
    transition: all 0.3s ease;
    
    &:hover {
        background-color: $dark-green;
        transform: scale(1.05) rotate(-2deg);
    }
}

body {
    background-color: #afd5af;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #5bbb86;
    background-image: linear-gradient(
        90deg,
        rgb(129, 201, 123) 0%,
        rgb(93, 184, 130) 73%,
        rgb(109, 160, 97) 95%
    );
    margin-bottom: 30px;
    padding: 20px;


    ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 25px;
        padding: 0;
        width: 72%;

        li {
            display: flex;
            align-items: center;           

            a {
                text-decoration: none !important;
                color: white;
                font-weight: 600;
                padding: 12px 25px;
                display: block;
                @include leaf-style;                
                
                @media (min-width: 1200px) {
                    & {
                        font-size: 23px;
                    }
                }
                
                &.selected {
                    background-color: $dark-green;
                    border-radius: 46% 54% 81% 19% / 85% 7% 93% 15% ;
                    pointer-events: none;
                    
                    &:hover {
                        transform: none;
                    }
                }
            }
        }
    }

            img {
                    width: 110px;
                    height: 30px;
                }

    ul li a,
    ul li a:hover,
    ul li a:focus,
    ul li a:active {
  color: white;
}
    .dropdown {
    display: none;
    font-style: italic;

    .btn.dropdown-toggle {
        background-color: $primary-green !important;
        border: none !important;
        color: white !important;
        padding: 10px 25px;
        font-weight: bold;
    }

    .btn.dropdown-toggle:hover,
    .btn.dropdown-toggle:focus,
    .btn.dropdown-toggle:active {
        background-color: $dark-green !important;
        box-shadow: none !important;
    }

    .dropdown-menu {
        background-color: rgb(109, 160, 97) !important;

        .dropdown-item {
            color: white;

            &:hover {
                background-color: $dark-green;
            }
        }
    }
}
    @media (max-width: 1000px) {
        ul {
            display: none;
        }

        .dropdown {
            display: block;
        }
    }

    @media (max-width: 1000px) {
        & {
            height: 60px;
            margin-bottom: 0;
        }
    }
}

main {
    padding: 30px;
}

.section1 {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0,5s;
    overflow: hidden;
    border-radius: 2.5%;

    &:hover {
        box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.25)
    }

     & img {
        width: 100%;
        height: auto;
        position: relative;
        transition: transform 0.5s;
        border-radius: 2.5%;

        &:hover {
            transform: scale(1.5) rotate(2deg);
        }
    }
       & p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(72, 185, 97);
    font-size: 50px;
    z-index: 2;
    pointer-events: none;
    text-align: center;
    font-family: "Arial GEO BoldItalic", sans-serif;
      text-shadow:
    0 0 10px #2a8d3f,
    0 0 20px #2a8d3f,
    0 0 30px #2a8d3f,
    0 0 40px #2a8d3f,
    0 0 50px #2a8d3f;


       @media (max-width: 1000px) {
        & {
            font-size: large;
        }
       }

} 
}

.section2 {
    width: 100%;
    display: flex;
    padding: 50px;
    gap: 1%;

    .left , .right {
        width: 33%;
        height: auto;
        background-color: rgb(144 197 131);
        background-image: linear-gradient(to bottom, rgb(113, 182, 95), rgb(214, 255, 214));
        padding: 10px 20px 60px 20px;
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-direction: column;
        border-radius: 79% 21% 100% 0% / 13% 86% 14% 87%;

        h1 {
      font-size: 1.65vw;
      font-family: "Arial GEO BoldItalic", sans-serif;
        }
        
        p {
      font-size: 1.65vw;
      color: #276d36;
      font-family: "Arial GEO BoldItalic", sans-serif;
        }

        @media (max-width: 1000px) {
            & h1, p {
             font-size: 1.3vw;
            }
        }
        @media (max-width: 700px) {
            & {
                padding-bottom: 20px;
            }
            
            & h1, p {
                font-size: 1.1vw;
            }
        }
        @media (max-width: 475px) {
            & {
                gap: 5px;
                padding: 6.5px;
            }
            
            & h1, p {
                font-size: 1vw;
            }
        }
    }

    .middle {
        width: 33%;
        border-radius: 5%;
        overflow: hidden;
        
        
        img {
            width: 100%;
            height: auto;
            transform: scale(1.1);
            transition: transform 0.5s ease; 

            &:hover {
                transform: scale(1.4) rotate(-2deg);                
            }
        }
    }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: $primary-green;
  border-radius: 10px;
}

